body {
  background: linear-gradient(#FEFFDE 0%, #F0D9E7 100%);
  font-family: Bahnschrift Light, sans-serif;
}

img {
  height: 247px;
  width: 200px;
  border-radius: 20px;
}

hr {
  border-style: dotted none none;
  width: 100px;
  border-width: 10px;
  border-color: #6F4C5B;
}

h1 {
  color: #6F4C5B;
  text-shadow: 6px 6px 0px rgba(0; 0, 0, 0.2);
}

h3 {
  text-align: center;
  color: #6F4C5B;
}

h4 {
    color: #6F4C5B;
}
